<!-- Start Footer -->
<footer id="footer" role="contentinfo">
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="footer-inner">
                        <!-- Bottom to Up Btn -->
                        <a href="#" class="btn-floating btn-large up-btn"><i class="mdi-navigation-expand-less"></i></a>
                        <p class="design-info">Copyright &copy; Tarlan Muradli</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
