<header id="header" role="banner">
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper">

                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <a href="/Home/Index" class="brand-logo">Tarlan Muradli</a>

                    <!-- Image Based Logo -->
                    <!-- <a href="index.html" class="brand-logo"><img src="img/logo.jpeg" alt="logo img"></a>  -->
                    <ul class="right hide-on-med-and-down custom-nav menu-scroll">
                        <li><a href="/Home/Index">About Me</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="/Home/Tasks">To Do List</a></li>
                    </ul>
                    <!-- For Mobile View -->
                    <ul id="slide-out" class="side-nav menu-scroll">
                        <li><a href="/Home/Index">About Me</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="/Home/Tasks">To Do List</a></li>
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>
</header>


