@model Portfolio_Main.Models.EntityFramework.ToDoList

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home">
    <div class="overlay-section">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="home-inner">
                        <h1 class="home-title">HI! I'm <span>Tarlan Muradli</span></h1>
                        <p>I'm a Azerbaijan based Web Developer and interested more in Back-End Development than Front-End. I have experience in Linux, Big Data and Cyber Security too.</p>
                        @*<a class="hire-me-btn btn waves-effect waves-light btn-large" href="#footer">
                            Read Me <i class="mdi-content-send left"></i>*@
                        @*</a>*@
                        <!-- Call to About Button -->
                        @*<button class="btn btn-floating waves-effect waves-light btn-large white call-to-about"><i class="view-icon"></i></button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="footer-top-inner">
                    <h2 class="title">Contact</h2>
                    <p>You can contact with me. Please send me a message if you have some opinion.</p>
                    <p><i class="fa fa-phone white-text"></i> +994 77 311 03 55</p>
                    <p>tarlan.mrdl@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
